<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="masterEntities" connectionString="metadata=res://*/UserTableModel.csdl|res://*/UserTableModel.ssdl|res://*/UserTableModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MANEEKAANDAN-PC\SQLEXPRESS;initial catalog=master;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities1" connectionString="metadata=res://*/usertableModel.csdl|res://*/usertableModel.ssdl|res://*/usertableModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MANEEKAANDAN-PC\SQLEXPRESS;initial catalog=master;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities2" connectionString="metadata=res://*/projecttableModel.csdl|res://*/projecttableModel.ssdl|res://*/projecttableModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MANEEKAANDAN-PC\SQLEXPRESS;initial catalog=master;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities3" connectionString="metadata=res://*/parentTaskModel.csdl|res://*/parentTaskModel.ssdl|res://*/parentTaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MANEEKAANDAN-PC\SQLEXPRESS;initial catalog=master;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities4" connectionString="metadata=res://*/parenttaskModel.csdl|res://*/parenttaskModel.ssdl|res://*/parenttaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MANEEKAANDAN-PC\SQLEXPRESS;initial catalog=master;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities5" connectionString="metadata=res://*/tasktableModel.csdl|res://*/tasktableModel.ssdl|res://*/tasktableModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MANEEKAANDAN-PC\SQLEXPRESS;initial catalog=master;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>