
<div class="container">
  <h1>Project Manager</h1>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="view" routerLinkActive="active">View</a>
    </li>
    <li>
      <a routerLink="user" routerLinkActive="active">User</a>
    </li>
    <li>
      <a routerLink="project" routerLinkActive="active">Project</a>
    </li>
    <li>
      <a routerLink="task" routerLinkActive="active">Task</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
</div>  